doctype html
html
    head
        title Title goes here...
        meta(name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
        meta(http-equiv="X-UA-Compatible" content="ie=edge")
        meta(charset="utf8")

        // Stylesheets
        include stylesheets.pug

    body

        // Content
        block content
        // Content end

        // Scripts
        include scripts.pug